html {
   height: 100%;
   font-family: 'Boogaloo', sans-serif;
}

main,
body,
dialog[open] {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

body {
   margin: 0;
   height: 100%;
   width: 100%;
   background-color: wheat;
   background-image: url(../img/5_background/complete_background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: luminosity;
}

body > h1 {
   display: none;
}

main {
   position: relative;
}

main,
canvas,
.inside-modal,
.canvas-overlay {
   max-width: 100%;
   max-height: 100%;
   aspect-ratio: 16 / 9;
}

canvas {
   background-image: url(../img/5_background/layers/air.png);
   background-size: 102%;
   border-radius: 1.25rem;
}

dialog {
   width: 100%;
   max-width: 100%;
   height: 100%;
   max-height: 100%;
   background-color: transparent;
   padding: 0;
   border: none;
   outline: none;
}

dialog[failed]::backdrop {
   background: rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(3px) grayscale(50%);
}

dialog[success]::backdrop {
   background: rgba(0, 0, 0, 0.125);
   backdrop-filter: blur(1px) saturate(110%) brightness(110%);
}

dialog,
dialog::backdrop {
   opacity: 0;
   transition: opacity 1.1s;
   transition-delay: 0.75s;
}

dialog.isOpen,
dialog.isOpen::backdrop {
   opacity: 1;
}

button {
   appearance: none;
   background-color: #ff9d00;
   border-radius: 1.25rem;
   font-size: 1.25rem;
   font-family: 'Boogaloo', sans-serif;
   padding: 0.25rem 1.5rem;
   pointer-events: all;
}

button:hover {
   filter: brightness(105%);
   scale: 1.01;
}

.inside-modal {
   font-size: 6rem;
   text-align: center;
   -webkit-text-stroke: 0.5px #ff9d00;
}

.settings {
   display: flex;
   justify-content: right;
   height: 7.5%;
   padding: 0.75rem 1rem;
}

.sound-icon {
   height: 100%;
   aspect-ratio: 1 / 1;
   background-image: url(../img/mute-2-128.png);
   background-size: contain;
   background-repeat: no-repeat;
   filter: opacity(66%);
   padding-right: 0.5%;
}

input:checked + .sound-icon {
   background-image: url(../img/speaker-128.png);
   padding-right: 0;
}

.canvas-overlay {
   display: flex;
   position: absolute;
   width: clamp(75%, calc(60vw + 288px), 100%);
}

.main-menu {
   background-image: url(../img/9_intro_outro_screens/start/startscreen_2.png);
   border-radius: 1.25rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.mobile-view {
   justify-content: space-between;
   flex-direction: column;
}

.mobile-buttons {
   display: none;
   height: 15%;
   justify-content: space-between;
   padding: 1rem 0.75rem;
}

.mobile-buttons-wrapper {
   display: flex;
   width: 33%;
   align-items: center;
   justify-content: space-around;
}

.mobile-buttons-wrapper figure {
   height: 100%;
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-block-start: 0;
   margin-block-end: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
   background-color: wheat;
   border-radius: 1.25rem;
   filter: opacity(75%);
   -webkit-user-select: none;
   user-select: none;
   -webkit-touch-callout: none;
}

.mobile-buttons-wrapper figure:hover {
   scale: 1.025;
   filter: opacity(90%);
}

.mobile-buttons-wrapper figure:hover img {
   filter: none;
}

.mobile-buttons-wrapper figure img {
   object-fit: contain;
   height: 75%;
   filter: grayscale(25%);
}

#start {
   position: absolute;
   top: 3rem;
   font-size: 3rem;
   -webkit-text-stroke: white 0.25px;
}

.end-screen {
   pointer-events: none;
}

.display-none {
   display: none;
}

@media (max-width: 900px) or (max-height: 600px) {
   .mobile-view .mobile-buttons {
      display: flex;
   }
}

/* 4px @ 240px increasing to 21.5px @ 1920px */
@media (min-width: 240px) {
   :root {
      font-size: calc(0.25rem + ((1vw - 2.4px) * 1.0417));
      /* Note: The calc base value (0.25rem) MUST be stated in REM to maintain accessibility */
      /* Where: 1.0417 = 100 * font-size_difference / viewport_width_difference */

      /* Safari resize fix */
      min-height: 0vw;
   }
}

@media only screen and (orientation: portrait) {
   main {
      display: none;
   }

   body > h1 {
      display: flex;
      font-size: 5rem;
      font-weight: normal;
      text-align: center;
   }

   body {
      background-blend-mode: lighten;
      background-color: darkgray;
   }
}
